---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="梦想清单"
	description="别因为走的太远，而忘了为什么出发"
	pubDate={new Date('August 30 2023')}
	updatedDate={new Date('August 30 2023')}
>
<p>这份清单是我想要去干的一些事</p>
<ul>
	<li>持续输出</li>
</ul>
</Layout>
